Repository hemanshusah/event, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dazuservices, @dazuservices/backend-team, @dazuservices/frontend-team, @dazuservices/mobile-team, @dazuservices/devops-team, @dazuservices/docs-team

Implement Event Management System
  backend/api-gateway/src/routes/event-invitations.js
  backend/api-gateway/src/routes/events.js
  backend/api-gateway/src/server.js
  web-admin/src/pages/Events/Events.js
Owners: @dazuservices/backend-team, @dazuservices/frontend-team

feat: implement comprehensive startup management system
  backend/api-gateway/src/routes/startups.js
  web-admin/src/pages/Startups/Startups.js
Owners: @dazuservices/backend-team, @dazuservices/frontend-team

feat: implement comprehensive investor dashboard and deal flow system
  backend/api-gateway/src/routes/investors.js
  web-admin/src/pages/Investors/Investors.js
Owners: @dazuservices/backend-team, @dazuservices/frontend-team

docs: update README with Phase 2 completion status
  README.md
Owners: @dazuservices

fix: resolve GitHub Actions workflow errors
  .github/workflows/ci.yml
Owners: @dazuservices/devops-team

fix: resolve GitHub Actions dependency lock file errors
  .github/workflows/ci.yml
Owners: @dazuservices/devops-team

feat: create streamlined and scalable CI/CD workflows
  .github/workflows/advanced-ci.yml
  .github/workflows/ci.yml
Owners: @dazuservices/devops-team

fix: create working CI/CD pipeline for monorepo structure
  .github/workflows/ci.yml
Owners: @dazuservices/devops-team

fix: create ultra-simple CI/CD that validates without installing dependencies
  .github/workflows/ci.yml
Owners: @dazuservices/devops-team

feat: implement optimized CI/CD pipeline with best practices
  .github/workflows/STRATEGY.md
  .github/workflows/ci.yml
  mobile-apps/ios/package.json
Owners: @dazuservices/devops-team, @dazuservices/mobile-team

docs: add comprehensive diagnostic report
  DIAGNOSTIC_REPORT.md
Owners: @dazuservices

.github/CODEOWNERS:

# Global code owners
* @dazuservices

# Backend code owners
/backend/ @dazuservices/backend-team

# Frontend code owners
/web-admin/ @dazuservices/frontend-team

# Mobile app code owners
/mobile-apps/ @dazuservices/mobile-team

# Database and infrastructure
/database/ @dazuservices/devops-team
/deployment/ @dazuservices/devops-team
/.github/ @dazuservices/devops-team

# Documentation
/docs/ @dazuservices/docs-team
README.md @dazuservices
DEVELOPMENT.md @dazuservices
